@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline: 1px solid red;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  @apply bg-bg;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}
