@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline: 1px solid red;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  @apply bg-bg;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

body::-webkit-scrollbar {
  @apply w-0 md:w-1 bg-transparent;
}

body::-webkit-scrollbar-corner {
  @apply bg-transparent;
}

body::-webkit-scrollbar-track {
  @apply bg-white;
}

body::-webkit-scrollbar-track-piece {
  @apply bg-transparent;
}

body::-webkit-scrollbar-thumb {
  @apply transition-all duration-500 bg-primary rounded-full;
}
